<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="warning"/>

    <!-- Specify the Checkstyle configuration properties -->
    <module name="FileTabCharacter">
        <property name="eachLine" value="true"/>
        <property name="fileExtensions" value="java"/>
    </module>

    <!-- Require Java code to be written with a specific coding style -->
    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
        <module name="ArrayTypeStyle"/>
        <module name="ModifierOrder"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
    </module>
</module>
